<!DOCTYPE html>
<html>
<head>
  <title>Deviseapp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= render 'live_edit/ra_live_editor' %>
<% if user_signed_in? %>
  <p> Hello, <%= current_user.first_name %>
    - <%= link_to "Sign_out", destroy_user_session_path, :method => 'delete' %></p>
  <br>
<% end %>
<%= yield %>
</body>
</html>